@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: white;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  padding: 42px 24px 24px 24px;
  font-weight: 700;
  color: #6070ff;
  font-size: 18px;
}

.logo {
  text-decoration: none;
  color: #6070ff;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc ul {
  list-style-type: none;
  display: flex;
}

.social-icons > ul {
  display: flex;
  list-style-type: none;
}

.nav-bar > ul {
  list-style-type: none;
}

#headline {
  padding: 124px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  background-image:
    url('./images/first-section/img-01.svg'),
    url('./images/first-section/img-02.svg'),
    url('./images/first-section/img-03.svg'),
    url('./images/first-section/img-04.svg'),
    url('./images/first-section/img-05.svg'),
    url('./images/first-section/img-06.svg'),
    url('./images/first-section/img-07.svg'),
    url('./images/first-section/img-08.svg'),
    url('./images/first-section/img-09.svg'),
    url('./images/first-section/img-10.svg'),
    url('./images/first-section/img-11.svg'),
    url('./images/first-section/img-12.svg'),
    url('./images/first-section/img-13.svg');
  background-position:
    top 2% left,
    top 4% left,
    top 11% left 40%,
    top 10% left 42%,
    top 1% left 60%,
    top 6.5% right,
    top 13% right,
    top 36% right 18%,
    bottom 27% right 12%,
    bottom 24% right 14%,
    bottom 8% left 16%,
    bottom 5.5% right 32%,
    bottom 3% right 37%;
  background-repeat: no-repeat;
}

.headline-text {
  width: 60vw;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-bottom: 12px;
}

.supporting-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.connect {
  align-self: flex-start;
  color: #7f8cff;
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  font-weight: 500;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  background-color: white;
}

.connect:hover {
  background-color: white;
  color: #7f8cff;
  box-shadow: unset;
}

.connect:active {
  background-color: white;
  color: #7f8cff;
}

.icons {
  color: #505f79;
  padding: 10px 18px 0 0;
  font-size: 20px;
}

.icons:hover {
  color: #6070ff;
}

#recent-work {
  display: grid;
  row-gap: 24px;
}

.card {
  background-color: white;
  margin: 30px 24px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card:first-child {
  margin-top: 100px;
}

.card:last-child {
  margin-bottom: 100px;
}

.inner-card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.desc h3 {
  font-size: 32px;
  color: #172b4d;
  padding: 12px 0;
}

.desc h4 {
  font-size: 13px;
  color: #344563;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.desc h4 span {
  padding-right: 0 12px;
  color: #7a869a;
  text-transform: capitalize;
}

.desc span::before {
  content: "•";
  margin: 0 8px;
  width: 8px;
  height: 8px;
  color: #c1c7d0;
}

.desc p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 16px;
}

.desc li {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #6070ff;
  letter-spacing: 0.03em;
  margin-right: 8px;
}

.item-1-list li {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0;
  padding: 9px 12px;
}

.project-btn,
.resume-btn {
  padding: 12px;
  border: 1px solid #7f8cff;
  background-color: white;
  border-radius: 8px;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #6070ff;
  font-weight: 500;
  line-height: 24px;
  align-self: flex-start;
  margin: 24px 0 12px 0;
}

.project-btn:hover,
.resume-btn:hover {
  background-color: #6070ff;
  color: white;
  box-shadow: 0 8px 16px #4053fc3d;
  cursor: pointer;
}

.project-btn:active,
.resume-btn:active {
  background-color: #2230d2;
  color: white;
}

.project-btn:disabled,
.resume-btn:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

#about-me {
  padding: 124px 24px 120px 24px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-right-radius: 50px;
}

.skills {
  padding: 12px;
  font-weight: 500;
  font-size: 20px;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 12px 0;
  border-bottom: 1px solid #dfe1e6;
}

.skill-item:first-child {
  border-bottom: none;
  flex-direction: column;
}

.item-1-header {
  display: flex;
  justify-content: space-between;
}

.item-1-list {
  font-size: 15px;
}

.item-1-list img {
  width: 48px;
  margin-right: 16px;
}
